*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*********HEADER*********/
header{
  display: flex;
}

header .left{
  display: flex;
  writing-mode: horizontal-tb;

}

header .left > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

header.right{
  float: right;

}

header *{
  margin: auto;
}

header img{
  width: 100px;
  height: auto;
}

header p{
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
}

header a{
  font-family: 'Oswald', sans-serif;
  padding: 30px;
}

header button.contact-us{
  background-color: black;
  font-family: 'Oswald', sans-serif;
  border-radius: 15px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
}

header button.contact-us:hover{
  color: #38B6FF;
  cursor: pointer;
}

header a:hover{
  color: #38B6FF;
}
/*********FOOTER*********/
footer{
  background-color: #38B6FF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  }

footer *{
  margin: auto;
}

footer .left{
  display: flex;
}

footer img{
  width: 125px;
  height: auto;
  border-radius: 10px;
}

footer a:hover{
  color: white;
}

/*********SCROLLBAR*********/
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


